@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RemoteApiScanner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="EsecuzioniKiteRunners" asp-action="Create"><img src="\Img\Logo-RAS.png" style="max-width:300px"/></a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle" style="font-size: 25px;"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end text-center align-middle">
                            <li><a class="dropdown-item fs-6" asp-area="" asp-controller="EsecuzioniKiteRunners" asp-action="Index"><i class="bi bi-list-check fs-5"></i> Scanner List</a></li>
                            <li><a class="dropdown-item fs-6" asp-area="Identity" asp-page="/Account/Manage/Email" title="Manage"><i class="bi bi-person-lines-fill fs-5"></i> Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Create", "EsecuzioniKiteRunners", new { area = "" })"><button type="submit" class="btn fs-6"><i class="bi bi-box-arrow-in-left fs-5"></i> Log out</button></form></li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center box-shadow">
        <div class="container">
            &copy; 2023 - RemoteApiScanner | Exam Project SOASEC | Powered by: Leonardo Persici & Mattia Fasoli
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
