@model RemoteApiScanner.Models.EsecuzioniKiteRunner

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex">
    <div class="align-self-center col-12">
        <div class="card text-center shadow">
            <div class="card-header text-bg-secondary container">
                <div class="row">
                    <span class="col-4 text-start">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-secondary" asp-action="Index"><i class="bi bi-chevron-left"></i> Back to List</a>
                        }                    
                    </span>
                    <span class="col-4 fs-5 fw-semibold align-self-center">Details</span>
                    <span class="col-4 text-end fw-semibold align-self-center">[@Html.DisplayFor(model => model.link) | @Html.DisplayFor(model => model.routes) | @Html.DisplayFor(model => model.statusCode) | @Html.DisplayFor(model => model.executionTime)]</span>
                </div> 
            </div>
            
            <div class="card-body">
                <div class="container">
                    <table class="table table-sm align-middle" id="tableResults">
                        <thead>
                            <tr>
                                <th scope="col">Method</th>
                                <th scope="col">Target</th>
                                <th scope="col">Path</th>
                                <th scope="col">StatusCode</th>
                                <th scope="col">Length</th>
                                <th scope="col">Time</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyResults"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var settings = {
                "url": "/api/Worker?Id=@Model.id",
                "method": "GET",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
            };

            $.ajax(settings).done(function (response) {
                var data = JSON.parse(response);
                console.log(data);
                var table = document.getElementById("tableResults");
                var tbody = table.getElementsByTagName('tbody')[0];
                for (let i = 0; i < data.length; i++) {
                    var newRow = tbody.insertRow(); //inserisco nuova riga nel tbody della tabella
                    var cellMethod = newRow.insertCell(); //inserisco nuova cella nella riga appena creata
                    var textMethod = document.createTextNode(data[i].method); //inserisco il valore preso dal JSON nella cella
                    cellMethod.appendChild(textMethod);
                    var cellTarget = newRow.insertCell(); //inserisco nuova cella nella riga appena creata
                    var textTarget = document.createTextNode(data[i].target); //inserisco il valore preso dal JSON nella cella
                    cellTarget.appendChild(textTarget);
                    var cellPath = newRow.insertCell(); //inserisco nuova cella nella riga appena creata
                    var textPath = document.createTextNode(data[i].path); //inserisco il valore preso dal JSON nella cella
                    cellPath.appendChild(textPath);
                    var cellStatusCode = newRow.insertCell(); //inserisco nuova cella nella riga appena creata
                    var textStatusCode = document.createTextNode(data[i].responses[0].sc); //inserisco il valore preso dal JSON nella cella
                    cellStatusCode.appendChild(textStatusCode);
                    var cellLength = newRow.insertCell(); //inserisco nuova cella nella riga appena creata
                    var textLength = document.createTextNode(data[i].responses[0].len); //inserisco il valore preso dal JSON nella cella
                    cellLength.appendChild(textLength);
                    var cellTime = newRow.insertCell(); //inserisco nuova cella nella riga appena creata
                    var textTime = document.createTextNode(data[i].time); //inserisco il valore preso dal JSON nella cella
                    cellTime.appendChild(textTime);
                };
            });
        });
    </script>
}